<!doctype html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>
    Login
  </h1>
  <div>

    <div class="container">
      <label><b>Username</b></label>
      <input type="text"  id="username" >
    </div>

    <div class="container">
      <label><b>Password</b></label>
      <input type="password"  id="psw1" >
    </div>

    <div>
      <button id="submit_button"> Submit </button>
      <!-- <input type="checkbox" checked="checked"> Remember me -->
    </div>
    <div>
    <p>Not registered? Click <a href="/register">here</a> to register.</p>
    </div>
    <div id="msg">

    </div>

  </div>

<script>
// AJAX posting x-www-form-urlencoded
var button = document.getElementById('submit_button');
var usernameID = document.getElementById('username');
var password1ID = document.getElementById('psw1');

var p = document.createElement('p');
var div = document.getElementById('msg');

button.onclick = function () {
	var username = usernameID.value;
	var password1 = password1ID.value;

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/login_submit');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
    	if (xhr.status === 200) {
    		div.appendChild(p);
    		p.innerHTML = xhr.responseText;
    		if (xhr.responseText == "") {
    			window.location.assign("/tweet"); }
        } else if (xhr.status !== 200) {
            alert('Request failed.  Returned status of ' + xhr.status);
        }
    };
    var body = 'username=' + encodeURIComponent(username) + '&password1=' + encodeURIComponent(password1);
    console.log(body);
    xhr.send(body);
};
</script>
</body>
</html>
