<!doctype html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>
    Sign Up
  </h1>
  <div>

  <table>
    <tr>
      <td align="right"><b>Username:</b></td>
      <td align="left"><input type="text" maxlength="15" id="username" /></td>
    </tr>
    <tr>
      <td align="right"><b>Handle @</b></td>
      <td align="left"><input type="text" maxlength="15" id="handle" /></td>
    </tr>
    <tr>
      <td align="right"><b>Displayname</b></td>
      <td align="left"><input type="text" maxlength="15" id="displayName" /></td>
    </tr>
     <tr>
      <td align="right"><b>Password:</b></td>
      <td align="left"><input type="password" maxlength="15" id="psw1" /></td>
    </tr>
     <tr>
      <td align="right"><b>Password (repeat)</b></td>
      <td align="left"><input type="password" maxlength="15" id="psw2" /></td>
    </tr>           
  </table>

    <div>
      <button id="submit_button"> Register </button>
      <!-- <input type="checkbox" checked="checked"> Remember me -->
    </div>
    <div>
    <p>Already registered? Click <a href="/login">here</a> to login.</p>
    </div>
    <div id="msg">

    </div>
    
  </div>

<script>
// AJAX posting x-www-form-urlencoded 
var button = document.getElementById('submit_button');
var usernameID = document.getElementById('username');
var handleID = document.getElementById('handle');
var displaynameID = document.getElementById('displayName');
var password1ID = document.getElementById('psw1');
var password2ID = document.getElementById('psw2');

var p = document.createElement('p');
var div = document.getElementById('msg');

button.onclick = function () {
	var username = usernameID.value;
	var handleBeforeAdd = handleID.value;
	var handle = ('@' + handleID.value);
	var displayname = displaynameID.value;
	var password1 = password1ID.value;
	var password2 = password2ID.value;
	
	var usernameLower = username.toLowerCase();
	
	function usernameHandleCheck(){
	var alphaNumExp = /^[a-zA-Z0-9]+$/;
	if(username.match(alphaNumExp) && handleBeforeAdd.match(alphaNumExp)){
	return true;
	}else{
	return false;
	}
	}
	
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/register_submit');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
    	if (password1 !== password2){
    		div.appendChild(p);
    		p.innerHTML = xhr.responseText;
		} else if (xhr.status === 200) {
            div.appendChild(p);
    		p.innerHTML =  xhr.responseText;
    		if(xhr.responseText === "") {
    			window.location.assign("/login"); }
        } else if (xhr.status !== 200) {
            alert('Request failed.  Returned status of ' + xhr.status);
        }
    };
    var body = 'username=' + encodeURIComponent(usernameLower) + '&handle=' + encodeURIComponent(handle)
    +'&displayname=' + encodeURIComponent(displayname) + '&password1=' + encodeURIComponent(password1)
    +'&password2=' + encodeURIComponent(password2);
    console.log(body);
    
    if(usernameHandleCheck() === false) {
    div.appendChild(p);
    p.innerHTML = "Please ensure there are no special characters or spaces in your username or handle."
    } else {
        xhr.send(body);
        }
};
</script>
</body>
</html>
