<!doctype html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>
    Sign Up3
  </h1>
  <form method="post" action="/test">

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
    </div>

    <div class="container">
      <label><b>Handle</b></label>
      <input type="text" placeholder="Enter Handle" name="handle" required>
    </div>

    <div class="container">
      <label><b>Displayname</b></label>
      <input type="text" placeholder="Enter Display Name" name="displayName" required>
    </div>

    <div class="container">
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw1" required>
    </div>

    <div class="container">
      <label><b>Password (repeat)</b></label>
      <input type="password" placeholder="Re-enter Password" name="psw2" required>
    </div>

    </div>
      <input type="submit">Sign Up</input>
      <!-- <input type="checkbox" checked="checked"> Remember me -->
    </div>

  </form>

</body>
</html>
