<!doctype html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>
    Tweet
  </h1>
<div>

    <div class="container">
      <label><b>Message</b></label><br>
      <textarea rows="4" cols="50" maxlength="140" id="tweet"></textarea>
    </div>

    <div>
      <br>
      <button id="submit_button"> Tweet </button>
    </div>
    <div>
      <p>Click <a href="/timeLine">here</a> to go to Public timeline</p>
    </div>
    <div>
      <p>Click <a href="/user">here</a> to go to User timeline</p>
    </div>
  <div id="msg"></div>
  </div>

<script>
// AJAX posting x-www-form-urlencoded
var button = document.getElementById('submit_button');
var tweet = document.getElementById('tweet');

var p = document.createElement('p');
var div = document.getElementById('msg');

button.onclick = function () {
	tweet = tweet.value;
	
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/tweet1');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
    	if (xhr.status === 200) {
        	div.appendChild(p);
    		p.innerHTML = "Your tweet has been posted!";
    		setTimeout(function() {
    			p.innerHTML = "";}, 2000);
        } else if (xhr.status !== 200) {
            alert('Request failed.  Returned status of ' + xhr.status);
        }
    };
    var body = 'tweet=' + encodeURIComponent(tweet);
    console.log(body);
    xhr.send(body);
};
</script>
</body>
</html>
