<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		
		<h1>
    		UnFollow
  		</h1>
  		<h4>{{link1}}&emsp;{{link2}}&emsp;{{link3}}&emsp;{{link4}}</h4>
  		
  		<div class="container">
	      <label><b>Search</b></label>
	      <input type="text" id="myInput" onkeyup="mySort()" placeholder="Search for users..">
	    </div>   
	    <br>
	    <div id="users">
	    <table id="myTable" style="width:50% table-layout: fixed">
		{% for id in followlist %}
			{{id}}
		{% endfor %} 
		</table>
		</div>
	
	<script src="/static/unfollow.js"></script>
	</body>
</html>